:root {
  /* color */
  --neutral-900: #121212;
  --neutral-800: #262626;
  --neutral-700: #3a3a3a;
  --neutral-500: #717178;
  --neutral-400: #949497;
  --neutral-0: #ffffff;
  --blue-600: #177dff;
  --blue-400: #4ca6ff;
  --red-500: #d64d5b;
  --green-500: #4dd67b;
  --yellow-400: #f4dc73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.48px;
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  padding: 16px 16px 32px;
  gap: 32px;
}

/* CABECERA: Logo y récord personal */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.personal-best {
  display: flex;
  gap: 10px;
  align-items: center;
}

.personal-best img {
  width: 18px;
  height: 16px;
}

.pb-label,
.stat-label {
  color: var(--neutral-400);
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.48px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
  gap: 32px;
}

/* SECCIÓN DE ESTADÍSTICAS: Uso de etiquetas de datos */

.stats-container {
  display: flex;
  flex-direction: column;
  width: 343px;
  gap: 16px;
  padding-block: 0 16px;
  border-bottom: 1px solid var(--neutral-700);
}

.stats-row {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-value {
  font-size: 24px;
  line-height: 100%;
  margin-block-start: 8px;
}

.acc-cont {
  border-left: 1px solid var(--neutral-700);
  border-right: 1px solid var(--neutral-700);
  padding-inline: 25px;
}

/* MENU DE DIFICULTAD MODO MOVIL */

.setting-cont {
  display: none;
}

.setting-cont-movil {
  display: flex;
  gap: 10px;
  position: relative;
}

.btn-setting {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 166.5px;
  height: 31px;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid var(--neutral-500);
  background-color: transparent;
  color: var(--neutral-0);
}

/* ÁREA DE ESCRITURA: Estructura clara para interacción */

.dropdown-difficulty,
.dropdown-mode {
  display: none;
  /* display: flex; */
  flex-direction: column;
  padding-block: 10px;
  gap: 8px;
  border-radius: 8px;
  width: 166.5px;
  position: absolute;
  top: 40px;
  background-color: var(--neutral-800);
}

.select {
  display: flex;
  gap: 12px;
  padding-inline: 10px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--blue-400);  */
}

.circle::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  /* background-color: var(--neutral-900); */
}

/* .circle::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--blue-400);
  border-radius: 50%;

} */

hr {
  border: 1px solid var(--neutral-700);
}

/* ÁREA DE ESCRITURA: Estructura clara para interacción */

.text-container,
.text-row {
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box {
  position: relative;
  font-size: 32px;
  line-height: 136%;
  letter-spacing: 0.4px;
  filter: blur(16px);
}

.test-controls {
  width: 321px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  z-index: 1;
}

.btn-start {
  width: 216px;
  height: 56px;
  border-radius: 12px;
  background-color: var(--blue-600);
  color: var(--neutral-0);
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.3px;
  border: none;
}

.hint {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  font-weight: 600;
}

/* DISPLAY TABLET */
@media (min-width: 760px) {
  .main {
    width: 760px;
    padding: 32px 32px 64px;
    gap: 40px;
  }

  .personal-best img {
    width: 20.25px;
    height: 18px;
  }

  .pb-label,
  .stat-label {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.6px;
  }

  .main-content {
    width: 704px;
  }

  /* SECCIÓN DE ESTADÍSTICAS: Uso de etiquetas de datos */

  .stats-container {
    width: 704px;
    gap: 20px;
    padding-block: 0 16px;
    border-bottom: 1px solid var(--neutral-700);
  }

  .stats-row {
    gap: 24px;
    justify-content: start;
  }

  .stat-item {
    gap: 12px;
    flex-direction: row;
    align-items: center;
  }

  .stat-value {
    margin-block-start: 0px;
  }

  /* MENU DE DIFICULTAD MODO TABLET o DESKTOP */

  .setting-cont-movil {
    display: none;
  }

  .setting-cont {
    display: flex;
    align-items: start;
  }

  .difficulty-cont,
  .mode-cont {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .difficulty-cont {
    padding-right: 16px;
    border-right: 1px solid var(--neutral-700);
  }

  .mode-cont {
    padding-left: 16px;
  }

  .difficulty-label,
  .mode-label {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.48px;
    margin-right: 6px;
    color: var(--neutral-400);
  }

  .btn-difficulty,
  .btn-mode {
    height: 31px;
    padding: 6px 10px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--neutral-0);
    border: 1px solid var(--neutral-500);
  }
}

/* DISPLAY DESKTOP */
@media (min-width: 1400px) {
  .main {
    width: 1440px;
    padding: 32px 112px;
    gap: 64px;
  }

  .main-content {
    width: 1216px;
  }

  .stats-container {
    flex-direction: row;
    justify-content: space-between;
    width: 1216px;

    padding-block: 0 16px;
  }

  .text-container,
  .text-row {
    height: 540px;
  }
}
